<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
  <properties resource="db.properties"/> 
	<!-- VO를 등록, MyBatis에서 값을 저장 -->
	<typeAliases>
		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.sist.vo.DataboardVO" alias="DataboardVO"/>
		<typeAlias type="com.sist.vo.EmpVO" alias="EmpVO"/>
		<typeAlias type="com.sist.vo.MusicVO" alias="MusicVO"/>
		<typeAlias type="com.sist.vo.BoardReplyVO" alias="BoardReplyVO"/>
		<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
		<typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
		<typeAlias type="com.sist.vo.SeoulLocationVO" alias="SeoulLocationVO"/>
		<typeAlias type="com.sist.vo.AllReplyVO" alias="AllReplyVO"/>
		<typeAlias type="com.sist.vo.AllJjimVO" alias="AllJjimVO"/>
		<typeAlias type="com.sist.vo.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.sist.vo.ReplyBoardVO" alias="ReplyBoardVO"/>
		<typeAlias type="com.sist.vo.ReserveVO" alias="ReserveVO"/>
		<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO"/>
		<typeAlias type="com.sist.vo.RecipeDetailVO" alias="RecipeDetailVO"/>
		<typeAlias type="com.sist.vo.ChefVO" alias="ChefVO"/>
		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
	</typeAliases>
	<!-- connection 관련 : getConnection/disConnection -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/><!-- COMMIT / ROLLBACK -->
			<dataSource type="POOLED"> <!-- DBCP : maxActive8 maxIdle:8 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
		<mapper resource="com/sist/mapper/board-mapper.xml"/>
		<mapper resource="com/sist/mapper/databoard-mapper.xml"/>
		<mapper resource="com/sist/mapper/emp-mapper.xml"/>
		<mapper resource="com/sist/mapper/music-mapper.xml"/>
		<mapper resource="com/sist/mapper/reply-mapper.xml"/>
		<mapper resource="com/sist/mapper/food-mapper.xml"/>
		<mapper resource="com/sist/mapper/goods-mapper.xml"/>
		<mapper resource="com/sist/mapper/seoul-mapper.xml"/>
		<mapper resource="com/sist/mapper/allreply-mapper.xml"/>
		<mapper resource="com/sist/mapper/alljjim-mapper.xml"/>
		<mapper resource="com/sist/mapper/notice-mapper.xml"/>
		<mapper resource="com/sist/mapper/admin-mapper.xml"/>
		<mapper resource="com/sist/mapper/replyboard-mapper.xml"/>
		<mapper resource="com/sist/mapper/reserve-mapper.xml"/>
		<mapper resource="com/sist/mapper/recipe-mapper.xml"/>
		<mapper resource="com/sist/mapper/cart-mapper.xml"/>
	</mappers>
</configuration>