<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.alljjim-mapper">
	<insert id="allJjimInsert" parameterType="java.util.Map">
		INSERT INTO all_jjim VALUES(
			(SELECT NVL(MAX(jno)+1,1) FROM all_jjim), 
			#{cno},#{type},#{id},SYSDATE
		)
	</insert>
	
	<select id="allJjimCheck" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(*) FROM all_jjim
		WHERE cno=#{cno} AND type=#{type} AND id=#{id}
	</select>
	
	<!-- tablename 변경? -->
	<update id="JjimCountIncrement" parameterType="java.util.Map">
		UPDATE project_food_house SET 
		jjimcount=(SELECT COUNT(*) FROM all_jjim WHERE type=#{type} AND cno=#{cno})
		WHERE fno=#{cno}
	</update>
</mapper>