<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
	<select id="foodHitTopData" resultType="FoodVO">
		SELECT fno,name,poster,rownum
		FROM (SELECT fno,name,poster
		FROM project_food_house ORDER BY hit DESC)
		WHERE rownum&lt;=12
	</select>
	<select id="foodLikeTopData" resultType="FoodVO">
		SELECT fno,name,poster,rownum
		FROM (SELECT fno,name,poster
		FROM project_food_house ORDER BY likecount DESC)
		WHERE rownum&lt;=12
	</select>
	<select id="foodJjimTopData" resultType="FoodVO">
		SELECT fno,name,poster,rownum
		FROM (SELECT fno,name,poster
		FROM project_food_house ORDER BY jjimcount DESC)
		WHERE rownum&lt;=12
	</select>
	<select id="foodListCount" resultType="int">
		SELECT COUNT(*) FROM project_food_house
	</select>
	<!-- 맛집 목록 출력 -->
	<select id="foodListData" resultType="FoodVO" parameterType="java.util.Map">
		SELECT fno,name,poster,num
		FROM (SELECT fno,name,poster,rownum as num
		FROM (SELECT /*+INDEX_ASC (project_food_houser fh_fno_pk)*/fno,name,poster
		FROM project_food_house))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="foodTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM project_food_house
	</select>
	<!-- 맛집 상세보기 -->
	<update id="foodHitIncrement" parameterType="int">
		UPDATE project_food_house SET
		hit=hit+1
		WHERE fno=#{fno}
	</update>
	<select id="foodDetailData" resultType="FoodVO" parameterType="int">
		SELECT fno,name,type,phone,address,score,theme,poster,images,time,parking,content
		FROM project_food_house
		WHERE fno=#{fno}
	</select>
	<!-- 좋아요 -->
	<!-- 찜 -->
	<!-- 예약 -->
	<!-- 댓글 -->
	<!-- 인근 맛집 출력 -->
	<select id="foodNearListData" resultType="FoodVO" parameterType="string">
		SELECT fno,name,poster,address,rownum
		FROM (SELECT fno,name,poster,address
		FROM project_food_house WHERE address LIKE '%'||#{ss}||'%' ORDER BY fno ASC)
		WHERE rownum&lt;=6
	</select>
	<!-- 맛집 찾기  -->
	<select id="foodFindListData" resultType="FoodVO" parameterType="java.util.Map">
		SELECT fno,name,poster,num
		FROM (SELECT fno,name,poster,rownum as num
		FROM (SELECT /*+INDEX_ASC (project_food_houser fh_fno_pk)*/fno,name,poster
		FROM project_food_house WHERE address LIKE '%'||#{ss}||'%'))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="foodFindTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM project_food_house WHERE address LIKE '%'||#{ss}||'%'
	</select>
	
	<!-- 예약 관련 -->
	<select id="foodTypeAllData" resultType="FoodVO" parameterType="string">
		SELECT fno,poster,name,phone FROM project_food_house WHERE type LIKE '%'||#{type}||'%'
		ORDER BY fno ASC
	</select>
	<select id="foodReserveDayData" resultType="string" parameterType="int">
		SELECT rdays FROM project_food_house WHERE fno=#{fno}
	</select>
	<select id="foodReserveTimeData" resultType="string" parameterType="int">
		SELECT time FROM reserve_date
		WHERE dno=#{dno}
	</select>
	<select id="foodTimeSelectData" resultType="string" parameterType="int">
		SELECT time FROM reserve_time
		WHERE tno=#{tno}
	</select>
</mapper>