<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.music-mapper">
	<select id="musicListData" resultType="MusicVO">
		SELECT mno,title,singer,poster,album,state,idcrement
		FROM genie_music
		ORDER BY mno ASC
	</select>
	<select id="musicFindData" resultType="MusicVO" parameterType="java.util.Map">
		SELECT mno,title,singer,poster,album,state,idcrement
		FROM genie_music
		WHERE ${column} LIKE '%'||#{ss}||'%'
		ORDER BY mno ASC
	</select>
	<select id="musicDetailData" resultType="String" parameterType="int">
		SELECT poster FROM genie_music
		WHERE mno=#{mno}
	</select>
</mapper>